WSReferences/ОУ/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://luimatrix.org/MatrixService"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://luimatrix.org/MatrixService"
		name="MatrixService"
		targetNamespace="http://luimatrix.org/MatrixService">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://luimatrix.org/MatrixService"
				targetNamespace="http://luimatrix.org/MatrixService"
				elementFormDefault="qualified">
			<xs:element name="PbxEvent">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="agent_num"
								type="xs:string"/>
						<xs:element name="abonent_num"
								type="xs:string"/>
						<xs:element name="direction"
								type="xs:string"/>
						<xs:element name="linkedid"
								type="xs:string"/>
						<xs:element name="event"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PbxEventResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CallMissedRegistration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="linkedid"
								type="xs:string"/>
						<xs:element name="call_date"
								type="xs:dateTime"/>
						<xs:element name="agent_num"
								type="xs:string"/>
						<xs:element name="abonent_num"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CallMissedRegistrationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="PbxEventRequestMessage">
		<part name="parameters"
				element="tns:PbxEvent"/>
	</message>
	<message name="PbxEventResponseMessage">
		<part name="parameters"
				element="tns:PbxEventResponse"/>
	</message>
	<message name="CallMissedRegistrationRequestMessage">
		<part name="parameters"
				element="tns:CallMissedRegistration"/>
	</message>
	<message name="CallMissedRegistrationResponseMessage">
		<part name="parameters"
				element="tns:CallMissedRegistrationResponse"/>
	</message>
	<portType name="MatrixServicePortType">
		<operation name="PbxEvent">
			<input name="PbxEventRequest"
					message="tns:PbxEventRequestMessage"/>
			<output name="PbxEventResponse"
					message="tns:PbxEventResponseMessage"/>
		</operation>
		<operation name="CallMissedRegistration">
			<input name="CallMissedRegistrationRequest"
					message="tns:CallMissedRegistrationRequestMessage"/>
			<output name="CallMissedRegistrationResponse"
					message="tns:CallMissedRegistrationResponseMessage"/>
		</operation>
	</portType>
	<binding name="MatrixServiceSoapBinding"
			type="tns:MatrixServicePortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PbxEvent">
			<soapbind:operation style="document"
					soapAction="http://luimatrix.org/MatrixService#MatrixService:PbxEvent"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CallMissedRegistration">
			<soapbind:operation style="document"
					soapAction="http://luimatrix.org/MatrixService#MatrixService:CallMissedRegistration"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="MatrixServiceSoap12Binding"
			type="tns:MatrixServicePortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PbxEvent">
			<soap12bind:operation style="document"
					soapAction="http://luimatrix.org/MatrixService#MatrixService:PbxEvent"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CallMissedRegistration">
			<soap12bind:operation style="document"
					soapAction="http://luimatrix.org/MatrixService#MatrixService:CallMissedRegistration"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MatrixService">
		<port name="MatrixServiceSoap"
				binding="tns:MatrixServiceSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="https://mainiis/matrix_service/ws/MatrixService.1cws"/>
		</port>
		<port name="MatrixServiceSoap12"
				binding="tns:MatrixServiceSoap12Binding">
			<soap12bind:address location="https://mainiis/matrix_service/ws/MatrixService.1cws"/>
		</port>
	</service>
</definitions>